.App {
  display: flex;
  padding: 30px;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  text-decoration: line-through;
  opacity:0.5;
}